<%- include('./includes/head') %>
<%- include('./includes/header') %>

<body>
    <span id="anchor"></span>
    <main id="main">
        <div class="main-content-container">
            <section class="main-section">
                <h1 class="title">Explorar</h1>
                <form class="filter-container">
                    <label for="filter">Filtros</label>
                    <select name="sort" id="filter">
                        <option value="az" <%= sort === 'az' ? 'selected' : '' %>>A-Z</option>
                        <option value="recent" <%= sort === 'recent' ? 'selected' : '' %>>Mais Recentes</option>
                    </select >
                </form>
                <div class="post-list-container">
                    <% posts.forEach(post => { %>
                        <div class="post-content" id="<%= post._id %>">
                            <div class="post-content-header">
                                <h2 class="post-title"><%= post.recipeTitle %></h2>
                                <a class="post-author" href="#">por <%= post.author.username %></a>
                                <p><%= post.shortDescription %></p>
                            </div>
                            <div class="post-img-container">
                                <img src="/uploads/<%= post.recipeImage %>" alt="Imagem de <%= post.recipeTitle %>">
                            </div>
                            <div class="post-content-footer"> footer</div>
                        </div>
                    <% }); %>                    
                </div>
                <nav>
                    <ul class="pagination">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="/explorer?sort=<%= sort %>&page=<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
            </section>
        </div>
        <a><span id="anchor-top"></span></a>
    </main>
    <script type="text/javascript" src="assets/js/bundle.js"></script>
    <script type="text/javascript" src="assets/js/modules/explorer.js"></script>
</body>
</html>