<%- include('./includes/head'); %>
    <%- include('./includes/header'); %>

        <body>
            <main class="main-recipe-container">
                <div class="recipe-container">
                    <h1 class="recipe-title">
                        <%= post.recipeTitle %>
                    </h1>
                    <h2>Descrição:</h2>
                    <p>

                        <%= post.shortDescription %>
                    </p>

                    <h2>Ingredientes:</h2>
                    <ul>
                       
                        <%ingredients.forEach(ingredient => { %>
                            <li><%= ingredient %></li>
                            <% } ); %>
                    </ul>
                    <h2>Modo de Preparo:</h2>
                    <p>
                        <%= post.preparationMethod %>
                    </p>
                </div>
                <div class="recipe-container-2">
                    <div class="recipe-img-container">
                        <img src="/uploads/<%= post.recipeImage %>" class="recipe-img" alt="">
                    </div>
                        <span class="content-box" id="<%= post._id %>">
                            <label for="up-<%= post._id %>" tabindex="-1">
                                <input type="checkbox" id="up-<%= post._id %>" class="upRecipeButton" tabindex="-1">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <span>
                                    <i class="bi bi-arrow-up-square upRecipeIcon" tabindex="-1"></i>
                                </span>
                            </label>
                            <label for="down-<%= post._id %>" tabindex="-1">
                                <input type="checkbox" id="down-<%= post._id %>" class="downRecipeButton" tabindex="-1">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <span>
                                    <i class="bi bi-arrow-down-square downRecipeIcon" tabindex="-1"></i>
                                </span>
                            </label>
                            <label for="save-<%= post._id %>" tabindex="-1">
                                <input type="checkbox" id="save-<%= post._id %>" class="saveRecipeButton" tabindex="-1">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <span>
                                    <i class="bi bi-bookmark saveRecipeIcon" tabindex="-1"></i>
                                </span>
                            </label>
                        </span>
                </div>
            </main>
            <script src="/assets/js/bundle.js"></script>
        </body>

        </html>